@tailwind preflight;

a, button, svg {
  transition: all 0.2s ease-out;
}
body {
  @apply .text-grey-darkest font-sans;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.hero-card {
  max-width: 100%;
}

@screen md {

  .hero-image {
    margin-right: 10rem;
    overflow: hidden;
    max-height: 34rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-card {
    @apply .absolute .pin-r .pin-t;
    margin-top: 3.4rem;
    max-width: 20rem;
  }

  .section-card {
    @apply .max-w-xs;
  }

  .section {
    @apply .flex-no-wrap
  }

}

.section-card {
  @apply .bg-white .items-stretch;
  padding: 3rem 2rem;
}

.section {
  @apply .mx-auto .my-8 .flex .justify-between .flex-wrap;
}

.section-header {
  @apply .font-poppins .text-4xl .leading-normal .bg-white .inline-block;
  margin: 4rem 0 0;
  padding: 2rem 7rem 2rem 2rem;
}

.section-card-header {
  @apply .font-poppins .border-b .border-grey-darkest .text-4xl;
  margin-bottom: 1.8rem;
  padding-bottom: 1.7rem;
}
.section-card-more {
  @apply .mt-8 .no-underline .capitalize .text-grey-darkest .text-lg;

  &:hover {
    @apply .text-blue;
  }
}

.portfolio-section .portfolio-piece:last-child {
  margin-bottom: 10rem;
}

.icon {
  @apply .align-middle;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


.instagram-feed > div {
  @apply .flex .flex-wrap .justify-between .items-stretch .content-start;
}

.instagram--item {
  flex: 0 1 48%;
  transition: all 0.2s ease-out;

  .instagram--text {
    display: none;
  }

  &:hover {
    @apply .shadow-none;
  }
}

@screen md {
  .instagram--item {
    flex: 0 1 31%;

    .instagram--text {
      display: block;
    }
  }
}

@screen xl {
  .instagram--item {
    flex: 0 1 23%;
  }
}


@import 'openClose';


@tailwind utilities;
